html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 14000px) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 900px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 600px) {
    html {
      font-size: 43.75%; } }
  @media only screen and (max-width: 1800px) {
    html {
      font-size: 75%; } }

.header {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0em;
  background-color: black;
  color: white;
  text-align: center;
  border-bottom: 1rem solid #444747; }
  .header_first {
    font-size: 10rem;
    margin-left: 3rem;
    display: flex;
    justify-content: center;
    flex-direction: column; }
  .header_second {
    font-size: 5rem; }

.nav {
  position: fixed;
  right: 3rem;
  top: 3rem;
  height: 2rem;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center; }
  .nav:hover .nav_icon, .nav:hover .nav_icon::before, .nav:hover .nav_icon::after {
    background-color: white; }
  .nav:hover .nav_icon::before {
    top: -1.2rem; }
  .nav:hover .nav_icon::after {
    top: 1.2rem; }
  .nav_icon {
    position: relative;
    top: 1rem;
    z-index: 2; }
    .nav_icon, .nav_icon::before, .nav_icon::after {
      width: 4rem;
      height: .5rem;
      background-color: #D8DBDB;
      display: block;
      transition: all .2s; }
    .nav_icon::before, .nav_icon::after {
      content: "";
      position: absolute;
      left: 0;
      transition: all .2s; }
  .nav_checkbox_label {
    z-index: 2;
    width: 100%;
    height: 100%;
    cursor: pointer; }
  .nav_checkbox {
    display: none; }
  .nav_checkbox:checked + .nav_checkbox_label .nav_icon {
    background-color: transparent; }
  .nav_checkbox:checked + .nav_checkbox_label .nav_icon::before {
    top: 0;
    transform: rotate(135deg); }
  .nav_checkbox:checked + .nav_checkbox_label .nav_icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .nav_checkbox:checked ~ .nav_background {
    transform: translateY(0); }
  .nav_background {
    width: 100%;
    height: 100vh;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
    transform: translateY(-100vh);
    transition: all 0.5s cubic-bezier(0.19, 1.02, 0.96, 0.86); }
  .nav_menu {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    color: #D8DBDB; }
  .nav_menu-list {
    list-style: none;
    text-align: center;
    line-height: 7rem; }
  .nav_menu-link {
    text-decoration: none;
    display: block;
    min-width: 25rem;
    cursor: pointer;
    color: white;
    border-radius: .5rem;
    transition: all .2s; }
    .nav_menu-link:hover {
      color: black;
      background-color: white; }

.footer {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  padding: 2rem 0;
  border-top: 1px solid #293535;
  background-color: black;
  color: white;
  bottom: 0;
  width: 100%;
  border-top: 1rem solid #444747; }
  .footer_item {
    margin-left: 3rem;
    position: relative;
    cursor: pointer; }
    @media only screen and (max-width: 14000px) {
      .footer_item {
        margin: 2rem; } }
    @media only screen and (max-width: 600px) {
      .footer_item {
        flex-basis: 75% !important; } }
    .footer_item:hover {
      transform: translateY(-0.3rem);
      color: white; }
      .footer_item:hover::after {
        width: 100%;
        left: 0; }
    .footer_item::after {
      content: "";
      display: flex;
      height: .3rem;
      width: 0;
      background-color: white;
      position: absolute;
      left: 50%;
      transition: all .2s; }

.card {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 2rem;
  color: #D8DBDB;
  margin-top: 10rem;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 14000px) {
    .card {
      flex-wrap: wrap; } }
  .card_item {
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40rem;
    height: 25rem;
    background-color: #294646;
    border-radius: .5rem;
    cursor: pointer;
    transition: all .2s; }
    @media only screen and (max-width: 14000px) {
      .card_item {
        margin: 2rem; } }
    @media only screen and (max-width: 600px) {
      .card_item {
        flex-basis: 75% !important; } }
    .card_item:hover {
      transform: translateY(0.5rem) scale(1.1);
      color: white; }
    .card_item-1 {
      background-color: #414a4c; }
      @media only screen and (max-width: 14000px) {
        .card_item-1 {
          flex-basis: 45%; } }
    .card_item-2 {
      background-color: #3b444b; }
      @media only screen and (max-width: 14000px) {
        .card_item-2 {
          flex-basis: 45%; } }
    .card_item-3 {
      background-color: #353839; }
      @media only screen and (max-width: 14000px) {
        .card_item-3 {
          flex-basis: 45%; } }
    .card_item-4 {
      background-color: #232b2b; }
      @media only screen and (max-width: 14000px) {
        .card_item-4 {
          flex-basis: 45%; } }
  .card_header {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 3rem; }
  .card_description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    margin-top: 3rem; }

nav {
  overflow: hidden;
  background-color: #333;
  width: 100%; }
  nav ul {
    text-align: left;
    list-style-type: none;
    margin: 0;
    padding: 15px; }
    nav ul li {
      display: inline;
      font-family: "Fira Sans", sans-serif;
      font-size: 17px; }
      nav ul li a {
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px; }
        nav ul li a:hover {
          background-color: #111; }

.search {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2rem;
  color: white;
  margin-top: 10rem; }
  .search_item {
    padding: 0rem;
    display: table;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: black; }
  .search_header {
    margin: 1rem;
    font-size: 5rem;
    display: block;
    justify-content: left; }
  .search_input {
    padding: 1rem;
    margin: 1rem;
    display: block;
    justify-content: left;
    width: 40%; }
  .search_button {
    margin: 2rem;
    display: block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px; }
  .search_results {
    padding: 0rem;
    display: block;
    justify-content: left;
    align-items: left;
    color: white; }
